<%- include('./partials/header')%>
<style>
  .containers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 20px;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .containers {
      grid-template-columns: repeat(1, 1fr);
    }
  }
li {
  list-style-type: none;
}

.card {
    height: 400px;
    padding: 20px 10px;
    border: none;
    position: relative;
    cursor: pointer;
    /* background-color: rgba(128, 128, 128, 0.428); */
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342); */
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    transition: ease-in 0.2s;
    border-radius: 5px;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
}
.price {
    font-size: 17px;
    margin: 5px 0;
    color: rgb(95, 95, 95);
}

.buttons {
    margin-top: auto;
}

nav .page-link {
  color: black;
}
nav .page-link:hover {
  color: black;
}
.form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
  }
 
</style>

<section style="min-height: 100vh" class="container">
  <div class="product" style="margin-top: 100px; margin-bottom: 100px; ">
    
    <div class="container text-center">
      <div class="row">
        <div class="col text-start">
          <div class="products-title" style="padding: 0 30px;">
            <h3 style="font-weight: 800;">Products</h3>
          </div>
        </div>
        <div class="col">
          <div class="products-title"  style="padding: 0 30px;">
            <select class="form-select"  aria-label="Default select example" id="selectSort">
              <option value="default">Sort by</option>
              <option value="/products?sort=az<%= search ? '&search=' + search : '' %>" <%= currentSort == 'az' ? 'selected' : '' %> >A-Z</option>
              <option value="/products?sort=za<%= search ? '&search=' + search : '' %>" <%= currentSort == 'za' ? 'selected' : '' %> >Z-A</option>
              <option value="/products?sort=lh<%= search ? '&search=' + search : '' %>" <%= currentSort == 'lh' ? 'selected' : '' %> >Price: Low To High</option>
              <option value="/products?sort=hl<%= search ? '&search=' + search : '' %>" <%= currentSort == 'hl' ? 'selected' : '' %> >Price: High To Low</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <ul class="containers">
        <% Data.forEach(item => { %>
      <li>
          <div class="card" style="width: 18rem; height: 500px;" >
            <div class="img_container" style="height: 60%;">
              <% if( item.contentType === 'image/jpeg' || item.contentType === 'image/png') { %>
                <a href="/products/api/<%= item._id %>"><img src="<%= item.data %>" class="card-img-top" alt="Product Image"></a>
                <% } else { %>
                  <a href="/products/api/<%= item._id %>"><img src="/images/video-thumbnail-default.png" class="card-img-top" alt="Product Image"></a>
                  <% } %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= item.metadata.title %></h5>
              <h5 class="price"><%= item.metadata.description %></h5>
              <h5 class="price"><%= item.metadata.price %>₾</h5>
            </div>
            <% if(userIsAdmin) { %>
            <div class="buttons">
                <button type="button" class="btn btn-dark delete-btn" data-id="<%= item._id %>">DELETE</button>
            </div>
            <% } %>
          </div>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
<section class="container">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="/products?page=<%= currentPage === 1 ? 1 : currentPage-1 %><%=  currentSort != 'default' ? '&sort=' + currentSort : ''  %>">Previous</a></li>
      <% for(let i=0; i<totalPages; i++) { %>

      <li class="page-item"><a class="page-link" href="/products?page=<%= i+1 %><%= currentSort != 'default' ? '&sort=' + currentSort : '' %><%= search ? '&search=' + search : '' %>" ><%= i+1 %></a></li>

      <% } %>
      <li class="page-item"><a class="page-link"  href="/products?page=<%= currentPage === totalPages ? totalPages : currentPage+1 %><%=  currentSort != 'default' ? '&sort=' + currentSort : ''  %>">Next</a></li>
    </ul>
  </nav>
</section>

</body>
<script>

  const deleteButton = document.querySelectorAll(".delete-btn")
  deleteButton.forEach(button => {
    button.addEventListener('click', () => {
      const id = button.dataset.id
      console.log(button.dataset.id)
      fetch(`/products/${id}`, {
      method: "DELETE"
    })
    .then(response => {
      response.json()
    })
    .then(response => {
      window.location.reload()
    })
    .catch(err => console.log(err))
    })
  })

  document.getElementById('selectSort').addEventListener('change', () => {
    
    var selectSort = event.target.value;
    if(selectSort != 'default') {
      window.location.href = selectSort
    }
  })
  
</script>
<%- include('./partials/footer')%>