<%- include('./partials/header')%>
<style>
    .product {
    margin-top: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
}
.addIcon {
  opacity: 25%;
  cursor: pointer;
}
.addIcon:hover {
  opacity: 40%;
}
strong {
  font-size: 16px;
  margin-left: 20px;
}
.card {
    margin: 10px;
    margin-left: 20px;
    height: 400px;
    padding: 20px 10px;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.428);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
  }
  
  img {
    width: 30%;
    height: auto; 
    transition: ease-in 0.2s;
    border: 1px solid white;
    border-radius: 5px;
  }
  .card-body {
    display: grid;
    align-items: center;
  }
  .card-title {
    font-size: 16px;
  }
  .price {
    font-size: 16px;
    font-weight: 600;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  .warning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-weight: 600;
    font-size: 20px;
  }
  .inactive-item {
    border: 2px solid red;
    background-color: rgba(229, 51, 51, 0.285)
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  
</style>
<div class="product">

    <ul>
        <% Data.forEach(item => { %>
      <li>
        <ng-container >
          <div class="card" style="width: 18rem;" >
            <img src="<%= item.data %>" class="card-img-top" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">title: <%= item.metadata.title %></h5>
              <h5 class="card-title">description: <%= item.metadata.description %></h5>
              <p class="price">Price: <%= item.metadata.price %></p>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-dark delete-btn" data-id="<%= item._id %>">DELETE</button>
                <button type="button" class="btn btn-dark">RETURN</button>
            </div>
          </div>
        </ng-container>
    </li>
    <% }) %>
  </ul>

</body>
<script>

  const deleteButton = document.querySelectorAll(".delete-btn")
  deleteButton.forEach(button => {
    button.addEventListener('click', () => {
      const id = button.dataset.id
      console.log(button.dataset.id)
      fetch(`/products/${id}`, {
      method: "DELETE"
    })
    .then(response => {
      response.json()
    })
    .then(response => {
    })
    .catch(err => console.log(err))
    })
  })
</script>
</html>