<%- include('./partials/header')%>
<style>
  .file_title {
    font-size: 3rem;
    font-weight: 800;
  }
  .file_data {
    font-size: 2.5rem; 
    font-weight: 700; 
    opacity: 80%;
  }
@media (max-width: 768px) {
  .file_title {
    font-size: 2.5rem;
  }
  .file_data {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .file_title {
    font-size: 2rem;
  }
  .file_data {
    font-size: 1.5rem;
  }
}
</style>

<section class="container" style="min-height: 100vh; margin-top: 100px;">

    <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 text-center">
            <img style="max-width: 100%; height: auto;" src="<%= fileData.data %>" alt="">
          </div>
          <div class="col-lg-6 col-md-12 text-center text-lg-start">
            <div class="file_body">
                <p class="file_title"><%= fileData.metadata.title %></p>
                <p class="file_data"><%= fileData.metadata.description %></p>
                <p class="file_data"><%= fileData.metadata.price %>₾</p>
            </div>
          </div>
        </div>
      </div>

</section>

<%- include('./partials/footer')%>