<%- include('./partials/header')%>
<style>
  .delete-button {
    border: 0;
    padding: 2px 15px;
    background-color: rgb(56, 56, 56);
    transition: all 0.3s;
    color: white;
  }
  .delete-button:hover {
    background-color: black;
  }
</style>
<section class="container" style="min-height: 100vh;">
  <div class="table-responsive-sm">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">///////</th>
          </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index) => { %>    
          <tr>
            <th scope="row">1</th>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><button class="delete-button" data-id="<%= user._id %>">Delete</button></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
</section>


</body>
<script>
  const buttons = document.querySelectorAll(".delete-button")
  buttons.forEach(button => {
    button.addEventListener('click', () => {
      const id = button.dataset.id
      
      fetch(`/users/${id}`, {
        method: 'DELETE'
      })
      .then(res => {
        res.json();
      })
      .then(res =>  {
        window.location.reload()
      })
      .catch(error => console.log(error))

    })
  })
</script>
<%- include('./partials/footer')%>